.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.header__logo {
    height: 20px;
    object-fit: contain;
    margin-left: 25px;
}

.header__input{
    display: flex;
    align-items: center;
    width: 35%;
    height: 28px;
    border: 1px solid lightgrey;
    margin-left: ;
    margin-right: ;
}

.header__input > input {
    flex: 1;
    border: none;
    font-size: large;
}
.header__inputButton {
    width: 50px !important;
    background-color: #fafafa;
    border-left: 1px solid lightgrey;
    color: gray;
}
.header__icons {
    display: flex;
    align-items: center;
    color: #606060;
}

.header__icon {
    margin-right: 25px ;
}

.header__logoicon {
    margin-left: 10px;
    color: #606060;
}